<div class= "container">
  <div class="text-danger h2 mt-4"><%= flash[:notice] %></div>
  <div class= "mt-4">
    <h1>コース一覧</h1>
  </div>

  <div class= "row d-flex align-items-start">
    <div class= "col-9">
      <table class="table table-bordered">
        <thead>
          <tr class= "table-secondary">
            <th style="width: 20%">コース名</th>
            <th style="width: 20%">都道府県</th>
            <th style="width: 20%">タグ</th>
            <th style="width: 20%"></th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.prefecture %></td>
            <td>
              <% course.tags.all.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
            <td><%= link_to "詳細へ", course_path(course),data: {"turbolinks" => false} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class= "col-3 border">
      <%= form_with model: @course, url:courses_path, local: true do |f| %>
        <%= f.label :prefecture, "都道府県名" %>
        <%= f.select :prefecture, Course.areas.keys, {} %><br>
        <%= f.label :tag_ids, "タグ選択" %><br>
        <%= Tag.all.each do |tag| %>
        <%= f.check_box :tag_ids,
         { multiple: true, include_hidden: false }, tag[:id] %>
       <label class="form-check-label">
         <%= tag.name %>
       </label>
       <% end %>
        <%= f.submit '検索する',class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>