<div class= "container">
  <h1>コース新規登録</h1>
  <div>
  <%= form_with model: @course, url:courses_path, local: true, method: :post do |f| %>
    <%= f.label :name, "コース名" %>
    <%= f.text_field :name %><br>
    <%= f.label :prefecture, "都道府県名" %>
    <%= f.text_field :prefecture %><br>
    <%= f.label :map_id, "地図URL" %>
    <%= f.text_field :map_id %><br>

    <%= f.submit '投稿する',class: 'btn btn-primary btn-lg' %>
  <% end %>
  </div>