<div class= "container">
  <div class="text-danger h2 mt-4"><%= flash[:notice] %></div>
  <div class= "mt-4">
    <h1>マイコース一覧</h1>
  </div>
  
  <% if params[:prefecture].present? %>
  検索：<%= params[:prefecture] %>
    <% if params[:tag_name] %>
      <%= params[:tag_name] %>
    <% end %>
  <% end %>

  <div class= "row d-flex align-items-start">
    <div class= "col-10">
      <table class="table table-bordered">
        <thead>
          <tr class= "table-secondary">
            <th style="width: 20%">コース名</th>
            <th style="width: 20%">都道府県</th>
            <th style="width: 20%">タグ</th>
            <th style="width: 10%">いいね</th>
            <th style="width: 10%">公開設定</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.prefecture %></td>
            <td>
              <% course.tags.all.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
            <td><%= course.favorites.count %></td>
            <td><%= course.is_hid ? "非公開" : "公開" %></td>
            <td><%= link_to "詳細へ", course_path(course),data: {"turbolinks" => false} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class= "col-2 border p-4">
      <%= render "mysearchform", course: @course %>
    </div>
  </div>
</div>