<div class= "container">
  <div class= "mt-4">
    <h1>コース新規登録</h1>
  </div>

  <% if @course.errors.any? %>
  <div class= "alert alert-danger">
    <%= @course.errors.count %>件のエラーが発生しました<br>
    <% @course.errors.full_messages.each do |message| %>
      <li class="ml-3"><%= message %></li>
    <% end %>
  </div>
  <% end %>

  <div class= "border rounded p-4">
  <%= form_with model: @course, url:courses_path, local: true, method: :post do |f| %>
    <%= f.label :name, "コース名", class: "font-weight-bold" %><br>
    <%= f.text_field :name, class:"mb-2" %><br>
    <%= f.label :prefecture, "都道府県名", class: "font-weight-bold" %><br>
    <%= f.select :prefecture, Course.areas.keys, {}, class:"mb-2" %><br>
    <%= f.label :map_id, "地図URL", class: "font-weight-bold" %><br>
    <%= f.text_field :map_id, class:"mb-2", placeholder:"https://www.google.com/maps/d/u/0/edit?mid=…" %><br>
    <%= f.label :image, "添付画像", class: "font-weight-bold" %>&emsp;複数選択が可能です<br>
    <%= f.attachment_field :course_images_images, multiple: true, class:"mb-2" %><br>
    <%= f.label :introduction, "説明文", class: "font-weight-bold" %><br>
    <%= f.text_area :introduction, class:"mb-2" %><br>

    <%= f.label :tag_ids, "タグ選択", class: "font-weight-bold" %><br>
    <% Tag.all.each do |tag| %>
      <%= f.check_box :tag_ids,
         { multiple: true, checked: @course.tags.find_by(id: tag.id).present?,
         include_hidden: false }, tag[:id] %>
       <label class="form-check-label mr-4">
         <%= f.label tag.name %>
       </label>
    <% end %><br>

    <%= f.label :is_hid, "公開設定", class: "font-weight-bold" %><br>
    <%= f.radio_button :is_hid, "false", checked: true %>
    <%= f.label :is_hid, "公開する", value: false %>
    <%= f.radio_button :is_hid, "true" %>
    <%= f.label :is_hid, "公開しない", value: true %>

    <br>
    <%= f.submit '投稿する',class: 'btn btn-primary btn-lg' %>
  <% end %>
  </div>
</div>