
<div class= "container">
  <div class= "mt-4">
    <h1>コース詳細</h1>
  </div>

  <div class="row">
    <div class="col-8">
      <div class= "googlemap">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=<%= @map %>" width="100%" height="480"></iframe><br>
      </div>


    </div>

    <div class="col-4">
      <h4>コース名：<%= @course.name %></h4><br>
      <h4>投稿者：<%= @course.user.name %></h4><br>
      <h4>都道府県：<%= @course.prefecture %></h4><br>
      <h4>タグ：<% @course.tags.all.each do |tag| %>
                <%= tag.name %><br>&emsp;&emsp;&emsp;
                <% end %></h4>
      <% if user_signed_in? %>
      <h4 id="favorite_buttons_<%= @course.id %>">
        <%= render "user/favorites/favorite", course: @course %>
      </h4><br>
      <h4 id="bookmark_buttons_<%= @course.id %>">
        <%= render "user/bookmarks/bookmark", course: @course %>
      </h4><br>
      <h4>
        <% if current_user.id == @course.user.id %>
          <%= link_to "編集する", edit_course_path(@course) %>
        <% end %>
      </h4>
      <% end %>
    </div>
  </div>

  <div class= "row">
    <div class= "col-6">
      <div class= "col-8 text-wrap">
        説明文：<%=@course.introduction %>
      </div>
    </div>
    <div class="col-6">
    <!--投稿画像をスライド表示-->
      <% if @course.course_images.present? %>
      <div>
        <div id= "slider">
          <div id= "theTarget">
            <% @course.course_images.each do |image| %>
              <div><%= attachment_image_tag image, :image, size: "480x360" %></div>
            <% end %>
           </div>
        </div>
      </div>
      <% end %>
    </div>
  </div><br>

  <div>
    <div>
      コメント:<br>
      <% @course.comments.each do |comment| %>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <div>
            <%= link_to "削除", course_comment_path(comment.course, comment), method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div><br>
    <% if user_signed_in? %>
    <div>
      <%= form_with(model:[@course, @comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>