<div class= "container">
  <div class= "mt-4">
    <h1>編集</h1>
  </div>

  <div>
    <%= form_with model: @user, url: user_path, local: true do |f| %>

    <div class="field">
      <%= f.label :name, "ユーザーネーム" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "会員情報を更新する" %>
    </div>
  <% end %>
  </div>



</div>