<!DOCTYPE html>
<html>
  <head>
    <title>Sanpomichi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/bbda8b1c45.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div id="wrap">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    </div>
    <script src="js/user/imageMapResizer.min.js"></script>
    <script>
      imageMapResize();
    </script>
  </body>
</html>
